---
layout: default
title: "CryptoMS"
description: "Site Internet spécialisé sur les technologies Blockchains & Crypto-actifs"
image: "assets/image/logo.png"
---

<!-- Home Jumbotron
================================================== -->    
<section class="intro full-width">
    <div class="wrapintro">
        <h1><img  style="width: 25%;" src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}"></h1>
        <h2 class="lead">Divers sujets sur les Blockchains & Crypto-actifs</h2>    
    </div>
</section>


<!-- Featured
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <h2><span>A la une</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>

<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}    

<section class="recent-posts row">

    <div class="col-sm-4">
        {% include sidebar.html %}
    </div>

    <div class="col-sm-8">

        <div class="section-title">
            <h2 id="articles"><span>Les Articles</span></h2>    
        </div>

        <div class="masonrygrid row listrecent">

            {% for post in paginator.posts %}

            {% unless post.featured == true %}

                {% include postbox.html %}

            {% endunless %}

            {% endfor %}

        </div> 

        <!-- Pagination -->
        <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div>

    </div>

</section>