<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Divers sujet sur les Blockchains & Crypto-actifs">
<meta name="author" content="Steve DESPRES">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

<meta property="og:image" content="{{ site.true_url }}{{ site.url }}/{{ page.image }}"/>
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:url" content="{{ site.true_url }}{{site.url}}{{page.url}}"/>
<meta property="og:site_name" content="CryptoMS"/>
<meta property="og:description" content="{{ page.description }}"/>

<link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.png">    
<title>{{ page.title }}</title>
{% seo %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/fontawesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/custom.css" rel="stylesheet">
<link href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/comments.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/sharingbuttons.css" rel="stylesheet">

</head>
        
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">

    
<!-- Begin Menu Navigation
================================================== -->
<header class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsWow" aria-controls="navbarsWow" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

        <!-- Begin Logo -->
        <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img  style="width: 25%;" src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
        </a>
        <!-- End Logo -->

        <!-- Begin Menu -->
        <div class="collapse navbar-collapse" id="navbarsWow">
            
            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">                
                <a class="nav-link" href="{{ site.baseurl }}/index.html">Accueil</a>
                </li>

                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/index.html#articles" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Article</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{{ site.baseurl }}/index.html#articles">Tous les articles</a>
                    <!--    <a class="dropdown-item" href="{{ site.baseurl }}/categorie/technologie">Technologie</a> -->
                    <!--    <a class="dropdown-item" href="{{ site.baseurl }}/categorie/economie">Économie</a> -->
                    <!--    <a class="dropdown-item" href="{{ site.baseurl }}/categorie/compabilite">Comptabilité</a> -->
                    <!--    <a class="dropdown-item" href="{{ site.baseurl }}/categorie/finance">Finance</a> -->
                    <!--    <a class="dropdown-item" href="{{ site.baseurl }}/categorie/informatique">Informatique</a> -->
                        </div>
                    </li>
                
                <li class="nav-item">                
                    <a class="nav-link" href="{{ site.baseurl }}/apropos">A Propos</a>
                </li> 
                
                <li class="nav-item">                
                    <a class="nav-link" href="{{ site.baseurl }}/contact">Contact</a>
                </li> 
                <li class="nav-item">                
                    <a class="nav-link" href="{{ site.baseurl }}/feed.xml"><img src="{{ site.baseurl }}/assets/images/rss.png"></img></a>
                </li> 

            </ul>
            <!-- End Menu -->
            
        </div>
    </div>
</header>
    

    
<!-- End Menu Navigation
================================================== -->
    
<div class="site-content">
    
    <div class="container">

    <!-- Site Title
    ================================================== -->

    <div class="mainheading" style="display:none;">
        <h1 class="sitetitle">{{ site.name }}</h1>
        <p class="lead">
             {{ site.description }}
        </p>
    </div>


    <!-- Content
    ================================================== --> 
    <div class="main-content">
        {{ content }}
    </div>

    </div><!-- /.container --> 

    <!-- Begin Footer
    ================================================== -->
    <footer class="footer">

        <div class="container">

            <div class="row">
                <div class="col-sm-3">
                <div class="footer-widget">
                <img src="{{ site.baseurl }}/assets/images/logo-footer.png">
                </div>
                </div>

                <div class="col-sm-3">
                <div class="footer-widget">
                <h5 class="title">Informations</h5>
                <ul>
                    <li><a href="{{ site.baseurl }}/licence">Licence</a></li>
                    <li><a href="{{ site.baseurl }}/mentions-legales">Mentions légales</a></li>
                    <li><a href="{{ site.baseurl }}/confidentialite">Politique de confidentialité</a></li>
                </ul>
                </div>
                </div>

                <div class="col-sm-3">
                <div class="footer-widget">
                <h5 class="title">Auteurs</h5>
                <ul>
                    <li><a href="{{ site.baseurl }}/apropos">A propos de nous</a></li>
                    <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                </ul>
                </div>
                </div>

                <div class="col-sm-3">
                <div class="footer-widget textwidget">
                    <h5 class="title">Projet</h5>

                    <p>Le code source de ce site est disponible publiquement. Vous pouvez le consulter sur notre <a href="https://github.com/stevedespres/crypto-ms-website">projet Github</a>.</p>                 
                </div>
                </div>
            </div>

            <div class="copyright">
                <p class="pull-left">
                Copyright © {{ site.time | date: "%Y" }} {{ site.name }}.
                </p>        
            </div>

        </div>

    </footer>
    <!-- End Footer
    ================================================== -->

</div> <!-- /.site-content> -->

<!-- JavaScript
================================================== -->
    
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    
<script src="{{ site.baseurl }}/assets/js/tether.min.js"></script>
    
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
    
<script type='text/javascript' src='{{ site.baseurl }}/assets/js/masonry.pkgd.min.js'></script>
    
<script src="{{ site.baseurl }}/assets/js/theme.js"></script>   

<script src="{{ site.baseurl }}/assets/js/material.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/comments.js"></script>
    
</body>
    
</html>