<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Steve DESPRES">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

<meta property="og:image" content=""/>
<meta property="og:title" content="{{ site.title }}"/>
<meta property="og:url" content="https://cryptoms.fr"/>
<meta property="og:site_name" content="Crypto MS"/>
<meta property="og:description" content=""/>

<link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.png">    
<title>{{ page.title }} | {{site.name}}</title>
{% seo %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/custom.css" rel="stylesheet">
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="{{ site.baseurl }}/assets/css/comments.css" rel="stylesheet">
      
</head>
        
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">

    
<!-- Begin Menu Navigation
================================================== -->
<header class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsWow" aria-controls="navbarsWow" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

        <!-- Begin Logo -->
        <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img  style="width: 25%;" src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
        </a>
        <!-- End Logo -->

        <!-- Begin Menu -->
        <div class="collapse navbar-collapse" id="navbarsWow">
            
            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">                
                <a class="nav-link" href="{{ site.baseurl }}/index.html">Accueil</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ site.baseurl }}/index.html#articles" id="dropdown01">Articles</a>
                </li>
                
                <li class="nav-item">                
                    <a class="nav-link" href="{{ site.baseurl }}/about">A Propos</a>
                </li> 
                
                <li class="nav-item">                
                    <a class="nav-link" href="{{ site.baseurl }}/contact">Contact</a>
                </li> 

            </ul>
            <!-- End Menu -->
            
        </div>
    </div>
</header>
    

    
<!-- End Menu Navigation
================================================== -->
    
<div class="site-content">
    
    <div class="container">

    <!-- Site Title
    ================================================== -->

    <div class="mainheading" style="display:none;">
        <h1 class="sitetitle">{{ site.name }}</h1>
        <p class="lead">
             {{ site.description }}
        </p>
    </div>


    <!-- Content
    ================================================== --> 
    <div class="main-content">
        {{ content }}
    </div>

    </div><!-- /.container --> 

    <!-- Begin Footer
    ================================================== -->
    <footer class="footer">

        <div class="container">

            <div class="row">
                <div class="col-sm-3">
                <div class="footer-widget">
                <a href="{{site.baseurl}}/contact">
                <img src="{{ site.baseurl }}/assets/images/logo-footer.png">
                </a>
                </div>
                </div>

                <div class="col-sm-3">
                <div class="footer-widget">
                <h5 class="title">Informations</h5>
                <ul>
                    <li><a href="https://www.wowthemes.net/premium-themes-templates/">Licence</a></li>
                    <li><a href="https://www.wowthemes.net/terms-and-conditions/">Mentions légales</a></li>
                    <li><a href="https://www.wowthemes.net/support/">Politique de confidentialité</a></li>
                </ul>
                </div>
                </div>

                <div class="col-sm-3">
                <div class="footer-widget">
                <h5 class="title">Auteurs</h5>
                <ul>
                    <li><a href="https://www.wowthemes.net/premium-themes-templates/">A propos de nous</a></li>
                    <li><a href="https://www.wowthemes.net/support/">Contact</a></li>
                </ul>
                </div>
                </div>

                <div class="col-sm-3">
                <div class="footer-widget textwidget">
                    <h5 class="title">Projet</h5>
                    <p>Le code source de ce blog et de ses articles est disponible publiquement. Vous pouvez apporter votre contribution en nous contactant ou directement sur notre <a href="https://www.wowthemes.net/support/">projet Github</a>.</p>                 
                </div>
                </div>
            </div>

            <div class="copyright">
                <p class="pull-left">
                Copyright © {{ site.time | date: "%Y" }} {{ site.name }}.
                </p>
        
            </div>

        </div>

    </footer>
    <!-- End Footer
    ================================================== -->

</div> <!-- /.site-content> -->

<!-- JavaScript
================================================== -->
    
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
    
<script type='text/javascript' src='{{ site.baseurl }}/assets/js/masonry.pkgd.min.js'></script>
    
<script src="{{ site.baseurl }}/assets/js/theme.js"></script>   

<script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/comments.js"></script>
    
</body>
    
</html>